body {
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
}

header {
  position: static;
}

main ul {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
main ul li {
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
}
main ul li:nth-child(3) , li:nth-child(6){
 grid-column: 1/3;
}

main ul img {
  width: 300x;
  height: 280px;
  object-fit: cover;
}

.item-content {
  padding: 24px;
}
.item-content p {
  margin: 12px 0 100px 0;
}
.actions {
  display: flex;
  justify-content: flex-end;
}
.item-content a {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}
.item-content a:hover {
  background-color: rgb(211, 188, 238, 50%);
}
